.dropdownMenu {
  position: absolute;
  top: 4.2rem;
  left: -2rem;
  width: max-content;
  background-color: white;
  border: 1px solid gray;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-1rem);
  font-size: 1.2rem;
}

.dropdownMenuActive {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdownMenu section div {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.dropdownMenu section div:hover {
  background-color: #e7e7e7;
}

.dropdownMenu section h2 {
  background-color: white;
  text-transform: uppercase;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  box-shadow: 0px 2px 0px 0px black;
  cursor: default;
}

@media (max-width: 768px) {
  .dropdownMenu {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    background-color: #1c1b1b;
    border: none;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
    height: 0;
  }
  .dropdownMenuActive {
    height: auto;
  }
  .dropdownMenu section h2 {
    background-color: #1c1b1b;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0px 2px 0px 0px gray;
    cursor: default;
  }
  .dropdownMenu section div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdownMenu section div:hover {
    background-color: #1c1b1b;
  }
}
